body {
  background-color: #000;
  margin-right: 10em;
  margin-left: 10em;
}

.sort-button {
  background-color: transparent;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 246px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin-left: auto;
  margin-top: 61px;
}

.sort-button p {
  font-family: 'Kantumruy Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  margin-left: 0.8em;
}

.fa-angle-down {
  margin-right: 0.8em;
}

.main-div {
  display: flex;
  margin-top: 1em;
}

.currency,
.availability,
.price-range {
  height: 20px;
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0.7em;
}
.left-div {
  /* margin-right: 1.5em; */
  width: 25%;
}
.left-div > div {
  margin-bottom: 3em;
}

.eth-usd-div {
  display: flex;
}

.eth {
  width: 123px;
  height: 50px;
  background: #eb5f33;
  border-radius: 10px 0px 0px 10px;
}

.usd {
  box-sizing: border-box;
  width: 123px;
  height: 50px;
  background: rgba(255, 255, 255, 0.07);
  border: 1px solid #ffffff;
  border-left: none;
  border-radius: 0px 10px 10px 0px;
}

.eth-usd-div span {
  width: 43px;
  height: 16px;
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: auto;
  margin-left: auto;
}

.availability-div {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 246px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin-bottom: 0.7em;
}

.availability-div p {
  margin-bottom: 0;
}

.circle-button {
  background-color: transparent;
  border: none;
}

.outer-circle {
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 1px solid #eb5f33;
  margin-left: 0.7em;
}
.inner-circle {
  position: absolute;
  border-radius: 50%;
  margin: 4px 0px 0px 4px;
  width: 20px;
  height: 20px;
  background: #eb5f33;
}

.all,
.buy-now {
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  margin-left: 0.7em;
}

.price-range-div {
  display: flex;
}

.min,
.max {
  box-sizing: border-box;
  width: 120px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.min {
  margin-right: 6px;
}

.min h5,
.min h6,
.max h5,
.max h6 {
  margin-bottom: 0;
}

.price-range-div h5 {
  width: 42px;
  height: 16px;
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
}
.price-range-div h6 {
  width: 26px;
  height: 16px;
  font-family: 'Kantumruy Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  opacity: 0.5;
}

.right-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  width: 75%;
}

.item-div {
  box-sizing: border-box;
  height: fit-content;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  width: 30%;
  margin-bottom: 2%;
  margin-left: 2%;
}

.item-div img {
  border-radius: 20px;
  width: 90%;
  margin: 5%;
}

.item-name-div {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}
.item-name-div div {
  display: flex;
}
.fa-circle-check {
  color: #eb5f33;
  font-size: 12px;
  margin-left: 0.5em;
}

.item-price-div {
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
}

.item-description-div {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.item-utility-div {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-div h5 {
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #000000;
}

.item-name-div p {
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.5;
  flex: none;
  order: 0;
  flex-grow: 0;

  max-inline-size: 100%;
  overflow-wrap: break-word;
}

.item-price-div p {
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #eb5f33;
}

.item-utility-div p {
  font-family: 'Kantumruy Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #000000;
  opacity: 0.5;
}

.item-description-div p,
.item-description-div h5,
.item-utility-div p,
.item-utility-div h5 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.spinner-div {
  width: 75%;
  display: flex;
  justify-content: end;
  margin-top: 2em;
}
